:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #fffe;
  text-decoration: inherit;
  padding: 10px;
  margin: 10px;
  min-width: 60px;
  text-align: center;
  border-radius: 5%;
}
a:hover {
  background-color: #fffe;
  color: #493deb;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

nav {
  background-color: #493deb;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.about-wrapper, .about-wrapper-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  margin: auto;
  text-wrap: pretty;
  width: 90dvw;

  h1 {
    text-align: center;
    margin-bottom: 0;
  }
}

.about-wrapper-top {
  height: 90dvh;
}

li {
  font-size: large;
}

.svg-link {
  color: black;
  text-decoration: underline;
  font-size: large;
  margin: 0;
  padding: 0;
}

span {
  font-style: italic;
  font-size: medium;
}

.divider {
  border: solid;
  border-width: 1px;
  width: 60vw;
  margin: 20px auto;
}

.intro-heading {
  padding: 0;
  margin: 0;
}
